<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>gallerian.ru</title>
</head>
<body>
    <div id="root"></div>
    <div id="client-data-view" style="display:none;">#{clientData}</div>
    <script defer src="#{config.bundleJsPath}"></script>
</body>
</html>