@import 'common/const.scss';

.author-card {
    display: flex;
    flex-direction: column;

    &__image-link {
        margin: auto;
        border-radius: 100%;

        img {
            border-radius: 100%;
        }
    }

    &__full-name {
        font-size: $font-size-m;
        font-family: $font-family-text-bold;
        text-align: center;
        margin: 20px 0 0 0;
    }

    &__professions {
        color: $color-text-secondary;
        font-size: $font-size-s;
        font-family: $font-family-text-light;
        text-align: center;
        margin: 6px 0 0 0;
    }
}