@import 'common/const.scss';

.product-card {
    display: flex;
    flex-direction: column;

    &__title-container {

        & h2 {
            font-size: $font-size-m;
            font-family: $font-family-text-bold;
        }
    }
}