@import 'common/const.scss';

.morda-page__selections-section {

    &__container {
        width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 300px 300px;
        column-gap: 30px;
        row-gap: 30px;

        & div:first-child {
            grid-column-end: 3;
            grid-column-start: 1;
        }
    }
}