@import 'common/const.scss';

.morda-selections-section {

    &__container {
        @include margin-container();
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 40px;

        & div:first-child {
            grid-column-end: 3;
            grid-column-start: 1;
        }
    }
}

.morda-selection-card {
    position: relative;

    & a {
        text-decoration: none;

        &:hover .selection-card__blur {
            opacity: 0.2;
        }
    }

    &__blur {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.5;
        transition-duration: .5s;
    }

    &__container {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        display: flex;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        margin: 200px 50px 50px 50px;
        z-index: 1;

        & h2 {
            margin: auto 0 0 0;
            color: white;
            font-size: $font-size-l;
            font-family: $font-family-text-bold;
        }

        & p {
            margin: 12px 0 0 0;
            color: white;
            font-size: $font-size-m;
            font-family: $font-family-text-light;
        }
    }
}