@import 'common/const.scss';

.skeleton {
    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        & li {
            width: 100%;
            height: 16px;
            list-style: none;
            background-color: $color-components-background;
            margin-top: 16px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}