@import 'common/const.scss';

.author-page__products-section {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;

    &__container {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
}