@import 'common/const.scss';

.title-section {
    margin-top: 80px;
    margin-bottom: 40px;

    &__title-container {
        @include margin-container();

        display: flex;
        flex-direction: row;
    }

    &__title {
        font-size: $font-size-l;
        margin: 0;
    }

    &__description {
        @include margin-container();

        font-size: $font-size-m;
        margin-top: 30px;
    }
}