@import 'common/const.scss';

.title-section {
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    &__title-container {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    &__title {
        font-size: $font-size-l;
        margin: 0;
    }

    &__description {
        width: 1200px;
        margin: auto;

        font-size: $font-size-m;
        margin-top: 30px;
    }
}