@import 'common/const.scss';

.btn-link {
    width: 100%;
    display: flex;
    cursor: pointer;

    &__light {
        border: 1px solid white;
    }

    &__light &__link {
        color: white;
    }

    &__dark  {
        border: 1px solid $color-text-primary;
    }

    &__dark &__link {
        color: $color-text-primary;
    }

    &__link {
        text-decoration: none;
        transition: none;
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    &__text-container {
        margin: 15px;
    }

    &:hover {
        border: 1px solid $color-text-active;
    }

    &:hover &__link {
        color: $color-text-active;
    }
}