@import 'common/const.scss';

.morda-page__authors-section {
    display: flex;
    flex-direction: column;

    &__container {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}