@import 'common/const.scss';

.morda-page__authors-section {

    &__container {
        @include margin-container();

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}