@import 'common/const.scss';

.morda {}

.morda-section-header {
    &__title {
        @include margin-container();
        margin-top: 80px;
        display: flex;
        flex-direction: row;

        & h2 {
            font-size: $font-size-l;
            margin: 0;
        }
    }

    &__description {
        @include margin-container();
        font-size: $font-size-m;
        margin-top: 30px;
    }
}

.morda-banner {
    background-image: url('/public/image/morda-banner.png');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__container {
        margin: auto;

        & h1 {
            color: white;
            font-size: 35px;
            margin: 45px auto;
        }
    }

    &__btn {
        max-width: 250px;
        margin: 45px auto;
    }
}

.morda-new-products {
    
    &__products-container {
        display: flex;
        position: relative;
        flex-direction: row;
        overflow-x: scroll;
        margin-top: 45px;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
        }

        & .product-card {
            margin-left: 30px;
        }

        // background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.4) 100%);
    }

    &__product-card-mock {
        min-width: 140px;
    }
}

.morda-authors {
    margin-top: 150px;

    &__authors-container {
        @include margin-container();

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.morda-personal-selection {
    background: $color-text;
    margin-top: 100px;
    
    &__container {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }

    &__text {
        margin: 0 auto;
        font-family: $font-family-text-bold;
        font-size: $font-size-l;
        color: white;
        text-align: center;
    }

    &__btn {
        margin-top: 35px;
        max-width: 250px;
        margin: 35px auto 0 auto;
    }
}

.morda-selections {
    margin-top: 100px;

    &__selections-container {
        @include margin-container();
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 40px;

        & div:first-child {
            grid-column-end: 3;
            grid-column-start: 1;
        }
    }
}

.morda-price-category {
    margin: 100px 0;

    &__price-category-container {
        @include margin-container();
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 40px;
    }

    &__text-container {
        margin: auto;

        & p {
            margin: 0;
            font-weight: 600;
        }
    }

    &__see-all {
        margin-top: 45px;

        & a {
            margin-left: 0;
        }
    }
}