@import 'common/const.scss';

.morda-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.morda-page-section-header {
    margin-top: 80px;
    margin-bottom: 40px;

    &__title {
        @include margin-container();
        display: flex;
        flex-direction: row;

        & h2 {
            font-size: $font-size-l;
            margin: 0;
        }
    }

    &__description {
        @include margin-container();
        font-size: $font-size-m;
        margin-top: 30px;
    }
}

.morda-page-banner {
    background-image: url('/public/image/morda-banner.png');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__container {
        margin: auto;

        & h1 {
            color: white;
            font-size: 35px;
            margin: 45px auto;
        }
    }

    &__btn {
        max-width: 250px;
        margin: 45px auto;
    }
}

.morda-page-new-products {
    display: flex;
    flex-direction: column;

    &__products-container {
        display: flex;
        position: relative;
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
        }

        & .product-card {
            margin-left: 30px;
        }

        // background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.4) 100%);
    }

    &__product-card-mock {
        min-width: 140px;
    }
}

.morda-page-authors {

    &__authors-container {
        @include margin-container();

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.morda-page-personal-selection {
    background: $color-text;
    margin-top: 80px;
    
    &__container {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }

    &__text {
        margin: 0 auto;
        font-family: $font-family-text-bold;
        font-size: $font-size-l;
        color: white;
        text-align: center;
    }

    &__btn {
        margin-top: 35px;
        max-width: 250px;
        margin: 35px auto 0 auto;
    }
}

.morda-page-selections {

    &__selections-container {
        @include margin-container();
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 40px;

        & div:first-child {
            grid-column-end: 3;
            grid-column-start: 1;
        }
    }
}

.morda-page-price-category {
    margin: 80px;
    @include margin-container();
    max-width: $max-width;

    &__price-category-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__btn-container {
        display: flex;
        flex-direction: row;
        flex-grow: 3;
        justify-content: space-between;
    }

    &__text-container {
        flex-grow: 1;
        display: flex;

        & p {
            font-size: $font-size-m;
            margin: auto 0;
        }
    }
}