@import 'common/const.scss';

.morda {}

.morda-header {
    background-image: url('/public/image/morda-head.png');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__container {
        margin: auto;

        & h1 {
            color: white;
            font-size: 35px;
            margin: 45px auto;
        }
    }

    &__btn {
        max-width: 250px;
        margin: 45px auto;
    }
}

.morda-new-products {
    &__title {
        @include margin-container();
        margin-top: 80px;
        display: flex;
        flex-direction: row;

        & h2 {
            font-size: $font-size-l;
            font-family: $font-family-text-regular;
            margin: 0;
        }
    }

    &__container {
        display: flex;
        position: relative;
        flex-direction: row;
        overflow-x: scroll;
        margin-top: 45px;

        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
        }

        & .product-card {
            margin-left: 30px;
        }

        // background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.4) 100%);
    }

    &__card-mock {
        min-width: 140px;
    }

    &__description {
        @include margin-container();
        font-size: $font-size-m;
        font-family: $font-family-text-regular;
        margin-top: 30px;
    }
}