@import 'common/const.scss';

.morda-page__price-category-section {
    @include margin-container();

    margin-top: 80px;
    margin-bottom: 80px;

    &__container {
        display: flex;
        flex-direction: row;
        max-width: $max-width;
        margin: auto;
    }

    &__btn-container {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        min-width: 180px;
    }

    &__btn-link {
        text-decoration: none;
        min-width: 170px;
    }

    &__text-container {
        display: flex;
        margin-right: 30px;
        margin-left: auto;

        & p {
            font-size: $font-size-m;
            margin: auto 0;
        }
    }
}
