@import 'common/const.scss';

.devider {
    &::after {
        margin-top: 16px;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background: $color-gray-1;
    }
}