@import 'common/const.scss';

.product-page__content-section {
    @include margin-container();
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;

    &__image-container {
        display: flex;

        & img {
            margin: auto;
            max-width: 500px;
        }
    }

    &__title-container {
        display: flex;
        flex-direction: row;

        & h2 {
            margin: auto 0;
            font-family: $font-family-text-bold;
            font-size: $font-size-l;
        }

        & a {
            margin-left: auto;
        }

        & a img {
            max-width: 65px;
            border-radius: 100%;
        }
    }

    &__parameters-container {
        font-family: $font-family-text-light;
        font-weight: 400;
        margin-top: 30px;
    }

    &__price {
        margin-top: 80px;
        font-weight: 700;
        font-family: $font-family-text-bold;
        font-size: $font-size-m;
    }
}