@import 'common/const.scss';

.product-page__content-section {
    margin-top: 60px;
    display: flex;

    &__wrapper {
        margin: auto;
        width: 1200px;
        display: grid;
        grid-template-columns: auto 450px;
    }

    &__image-container {
        display: flex;
    }

    &__title-container {
        display: flex;
        flex-direction: row;

        & h2 {
            margin: auto 0;
            font-family: $font-family-text-bold;
            font-size: $font-size-l;
        }

        & a {
            margin-left: auto;
        }

        & a img {
            max-width: 65px;
            border-radius: 100%;
        }
    }

    &__parameters-container {
        font-family: $font-family-text-light;
        font-weight: 400;
        margin-top: 30px;
    }

    &__parameter-item {
        margin-top: 16px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__price {
        margin: 80px 0 0 0;
        font-weight: 700;
        font-family: $font-family-text-bold;
        font-size: $font-size-m;
    }

    &__control-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 45px 45px;
        column-gap: 15px;
        row-gap: 15px;

        margin-top: 30px;
    }

    &__views {
        display: flex;
        margin: 0;

        & svg {
            width: 16px;
            margin: auto 8px auto 0;
        }
    }
}