@import 'common/const.scss';

.tag {
    color: white;
    padding: 12px 20px;
    background-color: $color-gray-1;
    text-decoration: none;
    font-family: $font-family-text-regular;
    font-size: $font-size-xs;

    &:hover {
        opacity: 0.8;
    }
}