@import 'common/const.scss';

.footer {
    display: flex;
    flex-direction: column;
    background: $color-text;
    width: 100%;
    margin-top: auto;

    &__logo-container {
        margin-top: 35px;
        display: flex;

        & a {
            margin: auto;
            color: white;
            font-family: $font-family-logo;
            font-size: 30px;
            text-decoration: none;
        }
    }

    &__social-container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__social-container-wrapper {
        display: inline-flex;
        margin: auto;
    }

    &__social-item {
        & svg {
            width: 16px;

            & path {
                fill: white;
            }
        }

        &:hover {
            & svg path {
                fill: $color-text-active;
            }
        }
    }

    &__privacy {
        color: #515151;
        font-size: $font-size-xs;
        margin: 22px 0;
        text-align: center;
    }
}