.image-viewer {
    &__current-image-container {
        display: flex;
        cursor: zoom-in;

        & img {
            margin: auto;
            object-fit: contain;
        }
    }

    &__small-images-container {
        display: flex;
        margin-top: 25px;
    }

    &__small-images-container-wrapper {
        margin: auto;

        & img {
            object-fit: cover;
            opacity: 0.6;
            cursor: pointer;

            &.active {
                opacity: 1;
            }
        }
    }
}