.horizontal-scroll-container {
    display: flex;
    flex-direction: column;
    margin: 0;

    &__container {
        display: flex;
        position: relative;
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
        }

        // TODO
        // background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.4) 100%);
    }
}