@import 'common/const.scss';

.product-page__description-section {
    margin-top: 80px;

    &__container {
        @include margin-container();

        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 80px;
    }

    &__tabs-container {
        & .tabs__devider::after {
            position: absolute;
            left: 0;
        }
    }

    &__tab-content {
        font-family: $font-family-text-light;
    }

    &__interior-title {
        display: flex;
        height: 80px;

        & p {
            margin: auto 0;
        }   
    }

    &__interior-content {
        margin-top: 25px;
    }
}