@import 'common/const.scss';

.product-page__description-section {
    margin-top: 80px;
    display: flex;

    &__container {
        width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 80px;
    }

    &__tabs-container {
        & .tabs__devider::after {
            position: absolute;
            left: 0;
        }
    }

    &__tab-content {
        font-family: $font-family-text-light;
    }

    &__interior-title {
        display: flex;
        height: 80px;

        & p {
            margin: auto 0;
        }   
    }

    &__interior-content {
        margin-top: 25px;
    }

    &__description-tags-container {
        display: flex;
        flex-wrap: wrap;

        & .tag {
            margin-right: 10px;
            margin-top: 10px;
        }
    }
}