@import 'common/const.scss';

.author-page__other-products-section {
    margin-bottom: 80px;

    &__container {
        @include margin-container();

        display: flex;
        flex-direction: row;
    }
}