@import 'common/const.scss';

.btn-link {
    width: 100%;
    border: 1px solid white;
    display: flex;
    cursor: pointer;

    & a {
        text-decoration: none;
        transition: none;
        color: white;
        font-size: 12px;
        width: 100%;

        & div {
            margin: 15px auto;
        }
    }

    &:hover {
        border: 1px solid $color-text-active;

        & a {
            color: $color-text-active;
        }
    }
}