@import 'common/const.scss';

.btn-link {
    width: 100%;
    display: flex;
    cursor: pointer;

    &__light {
        border: 1px solid white;

        & a {
            color: white;
        }
    }

    &__dark {
        border: 1px solid $color-text;

        & a {
            color: $color-text;
        }
    }

    & a {
        text-decoration: none;
        transition: none;
        font-size: 12px;
        width: 100%;
        text-align: center;

        & div {
            margin: 15px;
        }
    }

    &:hover {
        border: 1px solid $color-text-active;

        & a {
            color: $color-text-active;
        }
    }
}