@import 'common/const.scss';
@import 'common/font.scss';

body {
    margin: 0;
    padding: 0;
    // Default на все приложение
    font-family: $font-family-text-regular;
    font-weight: 600;
}

.root {
    background-color: white;
}

.force-hide {
    display: none !important;
}